<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<link href='css/bootstrap.css' rel="stylesheet">
	<title><%= 'Surf by SMS' %></title>
</head>
<body class="row-fluid" style="background-image: url('/images/white_sand.png')">
	<div class="hero-unit span8 offset2" style= "margin-top: 5%;">
		<%= yield %>
	</div>
</body>
</html>
